pkgbase = recaf-git
	pkgdesc = A modern Java bytecode editor
	pkgver = r4859.0d56ab6ac
	pkgrel = 1
	url = https://github.com/Col-E/Recaf
	arch = any
	license = MIT
	makedepends = git
	makedepends = java-environment
	makedepends = jdk-openjdk
	depends = java-runtime
	depends = java-openjfx-bin
	depends = ttf-font
	provides = recaf
	conflicts = recaf
	conflicts = recaf-bin
	replaces = recaf
	source = recaf::git+https://github.com/Col-E/Recaf#branch=master
	source = atlantafx::git+https://github.com/Col-E/atlantafx.git#branch=recaf-theme-2x-alt
	md5sums = SKIP
	md5sums = SKIP

pkgname = recaf-git
