pkgbase = recaf-git
	pkgdesc = A modern Java bytecode editor.
	pkgver = r4343.3b1e287d2
	pkgrel = 1
	url = https://github.com/Col-E/Recaf/tree/master
	arch = any
	license = MIT
	makedepends = git
	makedepends = java-environment
	makedepends = jdk-openjdk
	depends = java-runtime
	depends = java-openjfx-bin
	depends = ttf-font
	provides = recaf
	source = recaf::git+https://github.com/Col-E/Recaf
	source = atlantafx::git+https://github.com/Col-E/atlantafx.git#branch=recaf-theme-2x-alt
	source = recaf-wrapper
	source = recaf.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 8611012fed174565ea32c1979f7a627a879721a5f089dc1122ce707dd9c4a068
	sha256sums = b932bc9c97ab892c0ee40899a40795176c75bf186d7627e68ae5086ccbf3047d

pkgname = recaf-git
