[Desktop Entry]
Type=Application
Version=4.0.0-SNAPSHOT
Name=Recaf
Comment=%s
Path=/usr/bin
Exec=recaf
Icon=recaf
Terminal=false
MimeType=application/java-archive
Categories=Development;Java
Name[en_AU]=recaf.desktop
